        <!-- Bootstrap core JavaScript
            ================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
            <script src="{{ my_page.url }}/assets/page-bootstrap/jquery.min.js"></script>
            <script src="{{ my_page.url }}/assets/page-bootstrap/bootstrap.min.js"></script>
            <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
            <script src="{{ my_page.url }}/assets/page-bootstrap/ie10-viewport-bug-workaround.js"></script>

