<div class="row">
    <div class="col-md-4">
        {% for post in site.posts %}
        {% if post.tags contains 'Trabajo Práctico Demo' %}
        <h3>{{ post.name | escape }}</h3>
        <h6>{{ post.date-text | escape }}</h6>
        {% if post.video-url %}
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="{{ post.video-url }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        {% endif %}

        {{ post.content }}
    </div><!--/.col-lg-4-->
    {% endif %}
    {% endfor %}
</div><!--/row-->
