                    <div class="sidebar-module">
                        <h4>Links Importantes</h4>
                        <ol class="list-unstyled">
                        <li><a class="post-link" href="{{ site.sercom_url }}dashboard">SERCOM - Sitio de entregas y notas.</a></li>
                        <li><a class="post-link" href="https://groups.google.com/forum/#!forum/tallerdeprogramacion">Grupo de Google  de alumnos</a></li>
                        <li><a class="post-link" href="https://campus.fi.uba.ar/course/view.php?id=1921">Campus de la Fiuba</a></li>
                        </ol>

                    </div>
                    <div class="sidebar-module">
                        <h4>Últimas Noticias</h4>
                        <ol class="list-unstyled">
                            {% for post in site.categories.news %}
                            <li class="unhide-by-date" style="display: none;" date="{{ post.date | date: '%Y/%m/%d' }}">
                                <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                            </li>
                            {% endfor %}
                        </ol>
                    </div>
