                    <div class="sidebar-module">
                        <h4>Documentación Adicional</h4>
                        <ol class="list-unstyled">
                        <li><a class="post-link" href="https://git-scm.com/book/en/v2">Ebook Pro Git de Chacon y Straub</a></li>
                        <li><a class="post-link" href="https://guides.github.com/features/mastering-markdown/">Guía de Markdown</a></li>
                        <li><a class="post-link" href="https://plantuml.com/">Generar Diagramas a partir de Texto</a></li>
                        <li><a class="post-link" href="https://semver.org/lang/es/">Versionado Semántico</a></li>
                        </ol>
                    </div>

