<html>
{% include head.html %}
<body>
  <div class="wrapper">
    <div class="content">
      <div class="container container-center">
        <div class="row">
          <div class="col-md-8">
            <div class="article">
              <div class="well">
                <h1><a href="{{ site.url | append:site.baseurl | append:page.url }}">{{ page.title }}</a></h1>
                <div class="post-meta">
                  <div class="post-time">
                    <i class="fa fa-calendar"></i>
                  </div>
                  <ul>
                    {% for tag in page.tags %}
                      <li><a href="{{ site.url | append:site.baseurl }}/tag/{{ tag }}">{{ tag }}</a></li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 hidden-xs">
            {% include sidebar.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% include footer.html %}
</body>
</html>