<html>
{% include head.html %}
<body>
{% include header.html %}
      <div class="container container-center">
        <div class="row">
          <div class="col-sm-9">
              <div>
                <h1>{{ page.title }}</h1>
                <div class="post-meta">
                  <div class="post-time">
                    <i class="fa fa-calendar"></i>
                  </div>
                  {% if page.tags != empty and page.tags != black and page.tags != false %}
                  <span>Tags: </span>
                    {% for tag in page.tags %}
                    <span>{{ tag }} </span> <!-- <li><a href="{{ site.url | append:site.baseurl }}/tag/{{ tag }}">{{ tag }}</a></li> -->
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
          </div>
          <div class="col-sm-3 hidden-xs">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-9">
              {{ content }}
          </div>
          <div class="col-sm-3 hidden-xs">
            {% include sidebar.html %}
          </div>
        </div>
      </div>
{% include footer.html %}
</body>
</html>
