<!DOCTYPE html>
<html lang="en">
    <head>
        {% include common-head.html %}

<style>
.main-title {
    font-size: 3rem;
    font-style: italic !important;
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-weight: 300;
}

.main-box {
  background: #dbf2fc;
  background-image: linear-gradient(to bottom right, #dbf2fc, #6d9ec2);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.marketing a {
    text-decoration: none;
    color: #5a5a5a;
}
</style>
    </head>

    <body>
        <div class="container">
        <div class="jumbotron main-box">
            <div class="col-md-8" style="float: none;">
                <h1 class="main-title">Taller de Programación I</h1>
                <h4>7542/9508 - Cátedra Veiga - UBA</h4>
            </div>
        </div>
        </div>

    <div class="container marketing">
      <div class="row">
        <div class="col-lg-4">
            <a href="/institucional"><img class="img-circle" src="assets/img/institucional.png" alt="-" width="140" height="140">
          <h2>Institucional</h2>
          <p>Novedades de la cátedra y régimen de cursada. Lectura obligatoria para los alumnos de la materia.</p></a>
          <p><a class="btn btn-default" href="/institucional" role="button">Ir &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <a href="/clases"><img class="img-circle" src="assets/img/cpp.png" alt="-" width="140" height="140">
          <h2>Clases</h2>
          <p>Material de estudio desde manejo de memoria en C/C++ hasta multithreading pasando por sockets y UI.</p></a>
          <p><a class="btn btn-default" href="/clases" role="button">Ir &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <a href="/trabajos-practicos"><img class="img-circle" src="assets/img/code.png" alt="-" width="140" height="140">
          <h2>Trabajos Prácticos</h2>
          <p>Enunciados y guías de trabajos prácticos individuales y grupales. Recuerda que la práctica hace al maestro.</p></a>
          <p><a class="btn btn-default" href="/trabajos-practicos" role="button">Ir &raquo;</a></p>
        </div>
      </div>
    </div>
    {% include common-tail.html %}

  </body>
</html>

